/include/ "system-conf.dtsi"
/ {


};

&i2c0 {
	clock-frequency = <100000>;
	sensor@3c{
		compatible = "alinx,ov5640";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&cmos_rst 0 0>;
		port@0 {
			reg = <0>;
			ov5640_out_0: endpoint {
				remote-endpoint = <&vcap_ov5640_in_0>;
			};
		};
	};
};

&i2c1 {
	clock-frequency = <100000>;
	sensor@3c{
		compatible = "alinx,ov5640";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&cmos_rst 1 0>;
		port@0 {
			reg = <0>;
			ov5640_out_1: endpoint {
				remote-endpoint = <&vcap_ov5640_in_1>;
			};
		};
	};
};

&usb0 {	
	dr_mode = "host";

};


&amba_pl {

	digilent_hdmi {
		compatible = "ax_7511,drm-encoder";

		clocks = <&axi_dynclk_0>;
		clock-names = "clk";

		digilent,edid-i2c = <&i2c0>;
		digilent,fmax = <150000>;
		
		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;

			hdmi_ep: endpoint {
				remote-endpoint = <&pl_disp_ep>;
			};
		};
	};
	
	xlnx_pl_disp {
		compatible = "xlnx,pl-disp";
		dmas = <&axi_vdma_0 0>;
		dma-names = "dma0";

		xlnx,vformat = "RG24";
		xlnx,bridge = <&v_tc_0>;

		port@0 {
			reg = <0>;
			pl_disp_ep: endpoint {
				remote-endpoint = <&hdmi_ep>;
			};
		};
	};

	vcap_ov5640_0 {
		compatible = "xlnx,video";
		dmas = <&axi_vdma_1 0>;
		dma-names = "port0";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				direction = "input";
				vcap_ov5640_in_0: endpoint {
					remote-endpoint = <&ov5640_out_0>;
				};

			};
		};
	};

	vcap_ov5640_1 {
		compatible = "xlnx,video";
		dmas = <&axi_vdma_2 0>;
		dma-names = "port0";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				direction = "input";
				vcap_ov5640_in_1: endpoint {
					remote-endpoint = <&ov5640_out_1>;
				};

			};
		};
	};
	
};

&axi_dynclk_0 {
	compatible = "dglnt,axi-dynclk";
	#clock-cells = <0>;
	clocks = <&clkc 15>;
};
&v_tc_0 {
	compatible = "xlnx,bridge-v-tc-6.1";
	xlnx,pixels-per-clock = <1>;
};